# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
.env

# Virtual environments
.venv/
env/
venv/

# Docker / logs
*.log
*.pid

# Jupyter
.ipynb_checkpoints/

data/borg_traces_data.csv
csvtoredis.py
testredis.py
# Tests
.pytest_cache/
